In [7]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [11]:
df= pd.read_csv('Salaries (1).csv')

In [14]:
df.head()
df.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [4]:
df['phd'].mean()

19.705128205128204

In [6]:
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
 # Extracting male and female

In [8]:
df['sex']== 'female'

0     False
1     False
2     False
3     False
4     False
      ...
73    False
74    False
75    False
76    False
77    False
Name: sex, Length: 78, dtype: bool

In [15]:
df[df['sex']== 'Female']

         rank discipline  phd  service     sex  salary
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [17]:
df[(df['sex']=='Female')& (df['salary']>150000)]

    rank discipline  phd  service     sex  salary
44  Prof          B   23       19  Female  151768
72  Prof          B   24       15  Female  161101

In [ ]:
#what is average  salary of females

In [19]:
avg_female= df[df['sex']=='Female']['salary'].mean()

In [20]:
avg_female

101002.41025641025

In [22]:
df[df['sex']=='Male']['salary'].median()

107300.0

In [23]:
#what is avg salaary of rank prof

In [24]:
df['rank'].unique()

array(['Prof', 'AssocProf', 'AsstProf'], dtype=object)

In [25]:
df[df['rank']== 'Prof']['salary'].mean()

123624.80434782608

In [26]:
df[df['rank']== 'AssocProf']['salary'].mean()

91786.23076923077

In [27]:
#whatis avg salary of rank prof and displine a

In [29]:
df[(df['rank']=='Prof')& (df['discipline']=='A')]

    rank discipline  phd  service     sex  salary
1   Prof          A   12        6    Male   93000
2   Prof          A   23       20    Male  110515
3   Prof          A   40       31    Male  131205
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
8   Prof          A   29       19    Male   94350
9   Prof          A   51       51    Male   57800
18  Prof          A   19        7    Male  107300
19  Prof          A   29       27    Male  150500
21  Prof          A   33       30    Male  103106
24  Prof          A   30       23    Male   91100
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
32  Prof          A   27       19    Male  103275
37  Prof          A   20        8    Male  102000
40  Prof          A   39       36  Female  137000
52  Prof          A   12        0  Female  105000
63  Prof          A   29       27  Female   91000
65  Prof          A   36       19  Female  117555
67  Prof          A   17       11  Female   90450
69  Prof          A   28        7  Female  116450
76  Prof          A   28       14  Female  109954
77  Prof          A   23       15  Female  109646

In [30]:
# what is avg salary of rank assoc prof

In [32]:
df['rank'].unique()

array(['Prof', 'AssocProf', 'AsstProf'], dtype=object)

In [34]:
df(['rank']== ['AssocProf']['salary'].mean()

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_11840/3998054912.py, line 1)

In [35]:
#grouby function

In [36]:
df.groupby('rank')['salary'].mean()

rank
AssocProf     91786.230769
AsstProf      81362.789474
Prof         123624.804348
Name: salary, dtype: float64

In [37]:
# Min, Max , Mean , Median

In [38]:
df.groupby('rank')['salary'].agg({'min','max','mean','median'})

              max    min    median           mean
rank
AssocProf  119800  62884  103613.0   91786.230769
AsstProf    97032  63100   78500.0   81362.789474
Prof       186960  57800  123321.5  123624.804348